<div class="layoutBase box-shadow">
    <div class="title">
        <p class="">Notes</p>
    </div>
    <form action="/note" method="post">
        <div class="notesDiv">
            <textarea name="note" type="text" class="notes" id="notes" placeholder="Note:"></textarea>
            <button name="enter" type="submit" id="btnNotes" class=" btn-round"></button>
        </div>
    </form>
</div>