<div class="layoutBase box-shadow">
    <div class="title">
        <p class="">Notes</p>
    </div>

    <div class="notesDiv">
        <textarea name="note" type="text" class="notes" id="notes" placeholder="Note:"></textarea>
        <button name="enter" id="btnNotes" class=" btn-round"></button>
    </div>
</div>